@model IEnumerable<RSS.Models.Feed>
@using System.Net;
@using System.Web;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using RSS.Controllers;

<!--
<script>
    var links = [];
    function getUrl(e) {
        links.push(e.getAttribute("href"));
        document.cookie = "viewed=" + JSON.stringify(links);
    }
</script>

-->

<input type="button" value="Reload" onClick="document.location.reload(true)">


<div class="text-center">
    <h4 class="display-4">RSS feeds for: @ViewBag.Title</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    RSS Feeds
                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (KeyValuePair<string, string> item in ViewBag.Dictionary)
            {

               /* void Download()
                {
                    using (WebClient client = new WebClient())
                    {
                        client.DownloadFile(item.Value, item.Key.ToString() + ".html");
                    }
                    return "Letöltés";
                } */

                <tr>
                    <td>

                        <a href="@item.Value" onclick="getUrl(this); return true;" target="_blank">@item.Key</a>

                        <form  asp-action="Download">
                            <input type="submit" value="Download" class="btn btn-danger" /> |
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
